{{extend 'layout.html'}}

<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    height: 200px;
    overflow: auto;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
    height: 10px;
}
</style>

<h1>Manage user project memberships</h1>

<form action="{{=user_id}}" enctype="multipart/form-data" method="get">
    <input type="submit" value="Submit" class="btn btn-default btn-xlarge pull-right btn-success" />
    <BR /><BR />
    <table>
        {{if len(names):}}
            {{for name, num, item in zip(names, nums, form):}}
                <tr class="checkbox-inline">
                    <td>{{=item[0]}}</td>
                    <td>{{=num}}</td>
                    <td>{{=name}}</td>
                    <td>{{=item[1]}}</td>
                </tr>
            {{pass}}
        {{else:}}
            <tr class="checkbox">
                <td>No projects in database yet, add one first!</td>
            </tr>
        {{pass}}

    </table>
</form>
