{{extend 'layout.html'}}

<div class="btn-toolbar">

        <button type="button" class="btn btn-warning btn-lg pull-right" onclick="location.href='{{=URL('admin', 'manage_budgets')}}'">
            <span class="glyphicon glyphicon-th glyphicon-star">Manage Budgets</span>
        </button>

        <button type="button" class="btn btn-warning btn-lg pull-right" onclick="location.href='{{=URL('admin', 'manage_pos')}}'">
            <span class="glyphicon glyphicon-th glyphicon-star">Manage Purchase Orders</span>
        </button>

        <button type="button" class="btn btn-warning btn-lg pull-right" onclick="location.href='{{=URL('admin', 'manage_items')}}'">
            <span class="glyphicon glyphicon-th glyphicon-star">Manage PO Items</span>
        </button>

        <button type="button" class="btn btn-warning btn-lg pull-right" onclick="location.href='{{=URL('admin', 'manage_users')}}'">
            <span class="glyphicon glyphicon-th glyphicon-star">Manage Users</span>
        </button>

        <button type="button" class="btn btn-warning btn-lg pull-right" onclick="location.href='{{=URL('admin', 'manage_newusers')}}'">
            <span class="glyphicon glyphicon-th glyphicon-star">Manage New Users</span>
        </button>

        <button type="button" class="btn btn-warning btn-lg pull-right" onclick="location.href='{{=URL('admin', 'manage_teams')}}'">
            <span class="glyphicon glyphicon-th glyphicon-star">Manage Teams</span>
        </button>

         <button type="button" class="btn btn-warning btn-lg pull-right" onclick="location.href='{{=URL('admin', 'manage_memberships')}}'">
            <span class="glyphicon glyphicon-th glyphicon-star">Manage Memberships</span>
        </button>

        <button type="button" class="btn btn-warning btn-lg pull-right" onclick="location.href='{{=URL('admin', 'index')}}'">
            <span class="glyphicon glyphicon-th glyphicon-star">Manage Projects</span>
        </button>

</div>

{{include}}
