<!--[if HTML5]><![endif]-->
<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]><html class="ie ie6 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 7]><html class="ie ie7 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 8]><html class="ie ie8 ie-lte9 ie-lte8 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 9]><html class="ie9 ie-lte9 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
<head>
<title>PO Book</title>
  <!--[if !HTML5]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
  <![endif]-->
  <!-- www.phpied.com/conditional-comments-block-downloads/ -->
  <!-- Always force latest IE rendering engine
       (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->

  <meta charset="utf-8" />

  <!-- http://dev.w3.org/html5/markup/meta.name.html -->
  <meta name="application-name" content="{{=request.application}}" />

  <!-- Speaking of Google, don't forget to set your site up:
       http://google.com/webmasters -->
  <meta name="google-site-verification" content="" />

  <!--  Mobile Viewport Fix
        j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
        device-width: Occupy full width of the screen in its current orientation
        initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
        user-scalable = yes allows the user to zoom in -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
  <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">

  <!-- All JavaScript at the bottom, except for Modernizr which enables
       HTML5 elements & feature detects -->
  <script src="{{=URL('static','js/modernizr.custom.js')}}"></script>

  <!-- include stylesheets -->
  {{
  response.files.insert(0,URL('static','css/web2py.css'))
  response.files.insert(1,URL('static','css/bootstrap.min.css'))
  response.files.insert(2,URL('static','css/bootstrap-responsive.min.css'))
  response.files.insert(3,URL('static','css/web2py_bootstrap.css'))
  }}

  {{include 'web2py_ajax.html'}}

  {{
  # using sidebars need to know what sidebar you want to use
  left_sidebar_enabled = globals().get('left_sidebar_enabled',False)
  right_sidebar_enabled = globals().get('right_sidebar_enabled',False)
  middle_columns = {0:'span12',1:'span9',2:'span6'}[
    (left_sidebar_enabled and 1 or 0)+(right_sidebar_enabled and 1 or 0)]
  }}

  <!-- uncomment here to load jquery-ui
       <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.css" type="text/css" media="all" />
       <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" type="text/javascript"></script>
       uncomment to load jquery-ui //-->
  <noscript><link href="{{=URL('static', 'css/web2py_bootstrap_nojs.css')}}" rel="stylesheet" type="text/css" /></noscript>
  {{block head}}{{end}}



<body>
{{if not (session.auth == None):}}
  <!-- Navbar ================================================== -->
  <div class="navbar navbar-inverse">
    <div class="flash">{{=response.flash or ''}}</div>
    <div class="navbar-inner">
      <div class="container">
        <h1 class="text-warning">PO Book</h1>
        {{is_mobile=request.user_agent().is_mobile}}
        <!-- the next tag is necessary for bootstrap menus, do not remove -->
        <div class="row">

              <div class="btn-toolbar">
                          <button type="button" class="btn btn-info btn-lg pull-right btn-info" onclick="location.href='{{=URL('default', 'user', args=['logout'])}}'">
                              <span class="glyphicon glyphicon-th glyphicon-star">Sign Out</span>
                          </button>

                  {{if not (session.admin == None):}}
                      {{if session.admin == True:}}
                              <button type="button" class="btn btn-lg pull-right btn-warning" onclick="location.href='{{=URL('admin', 'index')}}'">
                                  <span class="glyphicon glyphicon-th glyphicon-star">ADMIN</span>
                              </button>
                      {{pass}}
                  {{pass}}


                      <button type="button" class="btn btn-default btn-lg pull-right btn-success" onclick="location.href='{{=URL('default', 'user', args=['profile'])}}'">
                          <span class="glyphicon glyphicon-th glyphicon-star">MY PROFILE</span>
                      </button>

                  {{if not (session.project_ids == None):}}
                      {{if len(session.project_ids) > 0:}}
                          <button type="button" class="btn btn-default btn-lg pull-right btn-success" onclick="location.href='{{=URL('po', 'list', args=['project', session.project])}}'">
                              <span class="glyphicon glyphicon-th glyphicon-star">PO LIST</span>
                          </button>
                      {{pass}}
                  {{pass}}
                  
                        <button type="button" class="btn btn-info btn-lg pull-right btn-info" onclick="location.href='{{=URL('project', 'list')}}'">
                              <span class="glyphicon glyphicon-th glyphicon-star">Projects</span>
                          </button>

                        <button type="button" class="btn btn-info btn-lg pull-right btn-info" onclick="location.href='{{=URL('vendor', 'list')}}'">
                              <span class="glyphicon glyphicon-th glyphicon-star">Vendors</span>
                          </button>



                      <button type="button" class="btn btn-info btn-lg pull-right" onclick="location.href='{{=URL('default', 'index')}}'">
                          <span class="glyphicon glyphicon-th glyphicon-star">RESET</span>
                      </button>


              </div><!--/toolbar -->
          </div><!--/row -->
    </div><!--/top container -->
    </div><!--/top navbar inner -->
  </div><!--/top navbar -->
<BR>
    <div class="container">
        <div class="row">
            <div style="display: table-cell; vertical-align: middle;">
                <b><font size="5" class="pull-left" style="display: table-cell; vertical-align: middle;">Project:</font></b>
                <select id="projectselect" class="form-control pull-left">
                    {{if not (session.projects == None):}}
                        {{for project in session.projects:}}
                            {{if project['id'] == session.project:}}
                                <option value="{{=project['id']}}" selected>{{=project['num']}} {{=project['name']}}</option>
                            {{else:}}
                                <option value="{{=project['id']}}">{{=project['num']}} {{=project['name']}}</option>
                            {{pass}}
                        {{pass}}
                    {{pass}}
                </select>
                {{if not session.projects is None:}}
                    {{if not session.pm_projects is None:}}
                        {{if session.project in session.pm_projects:}}
                                <button type="button" class="btn btn-info btn-lg pull-left" onclick="location.href='{{=URL('budget', 'list')}}'">
                                    <span class="glyphicon glyphicon-th glyphicon-star">Manage Budget</span>
                                </button>
                        {{pass}}
                    {{pass}}
                {{pass}}
            </div>



        <div class="col-md-4 table-responsive pull-right">
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>PO BOOK BALANCE</th>
              </tr>
            </thead>
            <tbody>
              <tr class="success">
                <td>PO Budget Total:</td>
                <td>{{if not (session.budget_total == None):}}
                            {{='${:,.2f}'.format(session.budget_total)}}
                        {{pass}}
                  </td>
              </tr>
              <tr class="success">
                <td>PO Budget Spent:</td>
                <td>{{if not (session.budget_spent == None):}}
                          {{='${:,.2f}'.format(session.budget_spent)}}
                      {{pass}}
                  </td>
              </tr>
              <tr class="error">
                <td><b>PO Budget Remaining:</b></td>
                <td><b>
                    {{if not ((session.budget_total == None) & (session.budget_spent == None)):}}
                        {{='${:,.2f}'.format(session.budget_total - session.budget_spent)}}
                    {{pass}}
                    </b></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div></div>

{{pass}}


  <div class="container">
    <!-- Masthead ================================================== -->


    <section id="main" class="main row">
        <div>
            {{block center}}
            {{include}}
            {{end}}
        </div>
    </section><!--/main-->

    <!-- Footer ================================================== -->
    <div class="row">
        <footer class="footer span12" id="footer">
            <div class="footer-content">
                {{block footer}} <!-- this is default footer -->
                <div class="copyright pull-left">{{=T('Copyright')}} &#169; {{=request.now.year}}</div>
                <div id="poweredBy" class="pull-right">
                    {{=T('Powered by')}}
                    <a href="http://www.web2py.com/">web2py</a>
                </div>
                {{end}}
            </div>
        </footer>
    </div>

  </div> <!-- /container -->

  <!-- The javascript =============================================
       (Placed at the end of the document so the pages load faster) -->
  <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
  <script src="{{=URL('static','js/web2py_bootstrap.js')}}"></script>
  <!--[if lt IE 7 ]>
      <script src="{{=URL('static','js/dd_belatedpng.js')}}"></script>
      <script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
      <![endif]-->

  {{if response.google_analytics_id:}}
  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', '{{=response.google_analytics_id}}', 'auto');
    ga('send', 'pageview');
  </script>
  <!-- End Google Analytics -->
  {{pass}}
  <script src="{{=URL('static','js/share.js',vars=dict(static=URL('static','images')))}}"></script>
    <script>
        $(function(){
            window.console = window.console || {log:function(){}};
            console.log( "Page JS loaded!" );
            $('#projectselect').change(function() {
                console.log( "You clicked a dropdown item!" )
                console.log( 'Selected text: ' + $(this).val() )
                $.post("{{=URL('project', 'set')}}",
                {
                    project: $(this).val().toString()
                },
                    function(data, status){
                        console.log("Data: " + data + "\nStatus: " + status);
                });
                $.ajax({
                    success:function(){
                        window.location.replace("{{=URL('default', 'index')}}");
                    }
                });
            });
        });
        path = window.location.pathname;
        $(".web2py_console  ").find('form').attr("action", path);
    </script>
</head>
</body>
</html>
