{{extend 'layout.html'}}
<h1>
    Modify Invoice for 
    {{if vendor != None: }} Vendor {{=vendor}} {{pass}}
    {{if commitment != None: }} contract number {{=commitment}} {{pass}}
</h1>

<div class='row'>
    <button id='confirm' type="button" class="container pull-left btn btn-lg btn-success" 
        onclick="location.href='{{=back}}'">
        < Back
    </button>
</div>

<br><br><br>

{{=form}}
