{{extend 'layout.html'}}
<h1>Invoice List for 
    {{if details['vendor'] != None:}}
        vendor {{=details['vendor']}}
    {{pass}}
    {{if details['commitment'] != None:}}
        PO # {{=details['commitment']}}
    {{pass}}
</h1>

{{if details['commitment_id'] != None:}}
    <button type="button" class="btn btn-default btn-xlarge pull-right btn-success" onclick="location.href='{{=URL('add', args=request.args, vars=dict(source=here))}}'" css="">
      <span class="glyphicon glyphicon-th glyphicon-star"></span> ADD INVOICE
    </button>
{{elif details['vendor_id'] != None:}}
    <button type="button" class="btn btn-default btn-xlarge pull-right btn-success" onclick="location.href='{{=URL('add', args=request.args, vars=dict(source=here))}}'" css="">
      <span class="glyphicon glyphicon-th glyphicon-star"></span> ADD INVOICE
    </button>
{{pass}}

<BR><BR><BR>
    <div class='row'>
    <button id='confirm' type="button" class="container pull-left btn btn-lg btn-success" 
        onclick="location.href='{{=back}}'">
        < Back
    </button>
</div>

<br><br><br>
<BR><BR><BR>

{{=list}}
