{{extend 'layout.html'}}
<h1>
    Commitment List
    {{if vendor != None:}}
        for vendor named {{=vendor}}
    {{pass}}
    
    {{if project_name != None:}}
        for project named {{=project_name}}
    {{pass}}
    
</h1>
<style>
.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    }
</style>
{{if back != None:}}
    {{if len(back) > 0:}}
        <BR><BR><BR>
        <div class='row'>
            <button id='confirm' type="button" class="container pull-left btn btn-lg btn-success" 
                onclick="location.href='{{=back}}'">
                < Back
            </button>
        </div>
    {{pass}}
{{pass}}
{{if (project_name != None):}}
    {{if user_project:}}
        <button type="button" class="btn btn-default btn-xlarge pull-right btn-success" onclick="location.href='{{=URL('add', vars=dict(source=here))}}'" css="">
          <span class="glyphicon glyphicon-th glyphicon-star"></span> NEW PO
        </button>
    {{pass}}
{{pass}}
    

<BR><BR><BR>
<BR><BR><BR>

{{if len(grid) > 0:}}
    {{=grid}}
{{else:}}
    {{if vendor != None:}}
        There are no commitments for this vendor in the system.
    {{else:}}
        There are no commitments in the system.
    {{pass}}
{{pass}}
