{{extend 'layout.html'}}

<div class='row'>
    <button id='confirm' type="button" class="container pull-left btn btn-lg btn-success" 
        onclick="location.href='{{=back}}'">
        < Back
    </button>
</div>
    
<BR><BR><BR>
{{=form}}
