{{extend 'layout.html'}}
<h1>
    Modify Attachment
</h1>

<div class='row'>
    <button id='confirm' type="button" class="container pull-left btn btn-lg btn-success" 
        onclick="location.href='{{=back}}'">
        < Back
    </button>
</div>

<br><br><br>

{{=form}}
